﻿
@{
    ViewBag.Title = "Test2";
}

<h2>Test2</h2>
<div>
    姓名: @Html.TextBox("account") <br />
                                 <br />
    帳號: @Html.TextBox("account") <br />
                                 <br />
    密碼: @Html.Password("pwd") <br />
                              <br />
    性別: @Html.RadioButton("gender","1")男性 @Html.RadioButton("gender","2")女性 <br />
                                                                            <br />
    興趣: @Html.CheckBox("h")游泳 @Html.CheckBox("h")閱讀 @Html.CheckBox("h")看電影 <br />
                                                                           <br />
    自我介紹:@Html.TextArea("h") <br />
                        <br />
</div>
